extends ../home/home

block sidebar_list
	ul.nav.nav-list
		li
			a(href='/home?id=#{user.id}')
				i.menu-icon.glyphicon.glyphicon-home
				span.menu-text.bigger-110 首页
		li.hsub
			a(href="#").dropdown-toggle
				i.menu-icon.fa.fa-users
				span.menu-text.bigger-110 员工管理
				b.arrow.fa.fa-angle-down
			ul.submenu
				li
					a(href="/staff/list?id=#{user.id}")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 员工列表
				li
					a(href="#")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 员工操作1
				li
					a(href="#")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 员工操作2
		li.hsub
			a(href="#").dropdown-toggle
				i.menu-icon.fa.fa-gift
				span.menu-text.bigger-110 商品管理
				b.arrow.fa.fa-angle-down
			ul.submenu
				li
					a(href="/commodity/list?id=#{user.id}")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 商品列表
				li
					a(href="#")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 商品操作1
				li
					a(href="#")
						i.menu-icon.fa.fa-caret-right
						span.menu-text 商品操作2

block main_content
	div.breadcrumbs.breadcrumbs-fixed#breadcrumbs
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-user.bigger-110
				| &nbsp; 用户中心
			li.active
				| 设置
	div.page-content
		div.page-content-area
			div.page-header
				h1 设置
					small
						i.ace-icon.fa.fa-angle-double-right
						| &nbsp; 编辑用户信息
			div.row
				div.col-xs-12
					div#user-profile-3.user-profile.row
						div.col-sm-offset-1.col-sm-10
							div.well.well-sm
								div.inline.middle.blue.bigger-110(style={'margin':'0 25px 0 25px'})
									| 已完成70%
								div(style={'width':'200px'},data-percent="70%").inline.middle.no-margin.progress.progress-striped.active
									div.progress-bar.progress-bar-success(style={'width':'70%'})
							div.space
							div.form-horizontal
								div.tabbable
									ul.nav.nav-tabs.padding-16
										li.active
											a(href="#edit-basic",data-toggle="tab")
												i.ace-icon.fa.fa-pencil-square-o.bigger-125.green
												| 基本信息
										li
											a(href='#edit-password',data-toggle="tab")
												i.ace-icon.fa.fa-key.blue.bigger-125
												| 修改密码
									div.tab-content.profile-edit-tab-content
										div#edit-basic.tab-pane.in.active
											div.row
												div.col-md-4.col-sm-12
													h4.header.blue.bolder.smaller 常规信息
													div.row
														div.col-xs-12
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-niconame") 昵称：
																div.col-xs-9
																	input.col-xs-12(type="text",placeholder="请输入昵称",value="#{user.niconame}")#form-field-niconame
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-birthday") 出生日期：
																div.col-xs-9
																	div.input-group
																		- var birthday = user.birthday ? user.birthday : ''
																		input.col-xs-12.date-picker.input.middle#form-field-birthday(type="date",placeholder="请选择日期",value="#{birthday}",data-date-format="yyyy-mm-dd")
																		span.input-group-addon
																			i.ace-icon.fa.fa-calendar
															div.form-group#form-field-radio
																label.col-xs-3.control-label.no-padding-right(for="form-field-niconame") 性别：
																div.col-xs-9
																	label.inline
																		input(name="form-field-radio",type="radio",value="1").ace
																		span.lbl.middle
																			| 男
																	span(style={'margin':'0 25px 0 25px'})
																	label.inline
																		input(name="form-field-radio",type="radio",value="2").ace
																		span.lbl.middle
																			| 女			
												div.col-md-4.col-sm-12
													h4.header.blue.bolder.smaller 联系方式
													div.row
														div.col-xs-12
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-email") 邮箱地址：
																div.col-xs-9
																	input.col-xs-12(type="email",placeholder="请输入邮箱地址",value="#{user.email}")#form-field-email
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-website") 个人网站：
																div.col-xs-9
																	input.col-xs-12(type="text",placeholder="请输入个人网址",value="#{user.website}")#form-field-website
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-phone") 联系电话：
																div.col-xs-9
																	input.col-xs-12(type="text",placeholder="请输入联系电话",value="#{user.phone}")#form-field-phone
												div.col-md-4.col-sm-12
													h4.header.blue.bolder.smaller 社交平台
													div.row
														div.col-xs-12
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-facebook") facebook：
																span.input-icon.col-xs-9
																	input.col-xs-12(type="text",placeholder="feacbook",value="#{user.facebook}")#form-field-facebook
																	i.ace-icon.fa.fa-facebook.blue(style={'left':'16px'})
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-twitter") twitter：
																span.input-icon.col-xs-9
																	input.col-xs-12(type="text",placeholder="twitter",value="#{user.twitter}")#form-field-twitter
																	i.ace-icon.fa.fa-twitter.red(style={'left':'16px'})
															div.form-group
																label.col-xs-3.control-label.no-padding-right(for="form-field-google") google：
																span.input-icon.col-xs-9
																	input.col-xs-12(type="text",placeholder="google",value="#{user.google}")#form-field-google
																	i.ace-icon.fa.fa-google.red(style={'left':'16px'})
											div.hr.dashed
											div.row
												div.col-xs-12
													div.form-group
														label.col-xs-2.control-label 现居地：
														div.col-xs-10
															div.row
																select.col-xs-3#form-field-select-province(placeholder="请选择省、直辖市")
																	option(disable,selected,value="") 请选择省、直辖市
																select.col-xs-3#form-field-select-city(placeholder="请选择地级市",style={'margin-left':'20px'})
																	option(disable,selected,value="") 请选择地级市
																select.col-xs-3#form-field-select-county(placeholder="请选择县级市",style={'margin-left':'20px'})
																	option(disable,selected,value="") 请选择县级市
													div.form-group
														label.col-xs-2.control-label(for="form-field-address") 详细地址：
														input.col-xs-8(type="text",placeholder="请输入详细地址")#form-field-address
													div.form-group
														label.col-xs-12.control-label.col-xs-pull-10(for="form-field-comment") 个人简介：
														textarea.col-xs-10.col-xs-offset-1(style={'height':'100px','max-height':'100px','resize':'none'},placeholder="个人简介",value="#{user.comment}")#form-field-comment
											div.row
												div.clearfix.form-actions
													div.col-md-5.col-md-offset-7
														button.btn.btn-danger.btn-lg#btn-reseat(style={'margin-right':'20px'})
															i.ace-icon.fa.fa-refresh
															| 重置
														button.btn.btn-success.btn-lg#btn-submit
															i.ace-icon.fa.fa-check
															| 确认修改
										div#edit-password.tab-pane
											div.space-10
											div.form-group
												label.col-sm-3.control-label.no-padding-right(for="form-field-pass1") 新密码：
												div.col-sm-9
													input(type="password",placeholder="新密码")#form-field-pass1
											div.space-4
											div.form-group
												label.col-sm-3.control-label.no-padding-right(for="form-field-pass2") 确认密码：
												div.col-sm-9
													input(type="password",placeholder="确认密码")#form-field-pass2
											div.row
												div.clearfix.form-actions
													div.col-md-9.col-md-offset-3
														button.btn.btn-danger#btn-reseat(style={'margin-right':'20px'})
															i.ace-icon.fa.fa-refresh
															| 重置
														button.btn.btn-success#btn-submit
															i.ace-icon.fa.fa-check
															| 确认修改
	script(src="http://127.0.0.1:3000/javascripts/user/setting.js")