extends ../home/home

block sidebar_list
	include ../sidebar.jade

block main_content
	div.breadcrumbs.breadcrumbs-fixed#breadcrumbs
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				| 首页
			li
				| 员工管理
			li.active
				| 员工列表
	div.page-content
		div.row
			div.col-xs-12
				h3.header.smaller.lighter.blue 员工数据表
				div.table-header 所有员工详细信息
				div
					div#sample-table-2_wrapper.dataTables_wrapper.form-inline-no-footer
						//- div.row
						//- 	div.col-xs-6
						//- 		div.dataTables_length#sample-table-2_length
						//- 			label 显示 
						//- 				select(name="sample-table-2_length",aria-controls="sample-table-2",style={'display':'inline-block'}).form-control.input-sm
						//- 					option(value="10") 10
						//- 					option(value="25") 25
						//- 					option(value="50") 50
						//- 					option(value="100") 100
						//- 				| 条数据
						//- 	div.col-xs-6
						//- 		div.sample-table-2_filter.dataTables_filter
						//- 			label 查询：
						//- 				input(type="search",aria-controls="sample-table-2",style={'display':'inline-block'}).form-control.input-sm
						table#sample-table-2.table.table-striped.table-bordered.table-hover.dataTable.no-footer(role="grid",aria-describedby="sample-table-2_info")
							thead
								tr(role="row")
									th.center.sorting_disabled(rowspan="1",colspan="1",aria-label="")
										label.position-relative
											input(type="checkbox").ace
											span.lbl
									th.sorting(tabindex="0",aria-controls="sample-table-2",rowspan="1",colspan="1",aria-label="id: activate to sort column ascending") 编号
									th.sorting(tabindex="0",aria-controls="sample-table-2",rowspan="1",colspan="1",aria-label="name: activate to sort column ascending") 姓名
									th.sorting_disabled(rowspan="1",colspan="1",aria-label="")
							tbody
								each staff, index in staffs
									- var odd_even = '';
									if index % 2 === 0
										- odd_even = 'even';
									else
										- odd_even = 'odd';
									tr(role="row",class="#{odd_even}")
										td.center
											label.position-relative
												input(type="checkbox").ace
												span.lbl
										td(data-id="#{staff.id}")
											| #{staff.id}
										td
											| #{staff.name}
										td
											div.hidden-sm.hidden-xs.action-buttons
												a.blue(href="#")
													i.ace-icon.fa.fa-search-plus.bigger-130
												a.green(href="#")
													i.ace-icon.fa.fa-pencil.bigger-130
												a.red(href="#")
													i.ace-icon.fa.fa-trash-o.bigger-130
											div.hidden-md.hidden-lg
												div.inline.position-relative
													button.btn.btn-minier.btn-yellow.dropdown-toggle(data-toggle="dropdown",data-position="auto")
														i.ace-icon.fa.fa-caret-down.icon-only.bigger-110
													ul.dropdown-menu.dropdown-only-icon.dropdown-yellow.dropdown-menu-right.dropdown-caret.dropdown-close
														li
															a(href="#",data-rel="tooltip",title,data-original-title="View").tooltip-info
																span.blue
																	i.ace-icon.fa.fa-search-plus.bigger-120
														li
															a(href="#",data-rel="tooltip",title,data-original-title="Edit").tooltip-info
																span.green
																	i.ace-icon.fa.fa-pencil-square-o.bigger-120
														li
															a(href="#",data-rel="tooltip",title,data-original-title="Delete").tooltip-info
																span.red
																	i.ace-icon.fa.fa-trash-o.bigger-120
						//- div.row
						//- 	div.col-xs-6
						//- 		div.dataTables_info#sample-table-2_info(role="status",aria-live="polite")
						//- 			| 从#{staffs.length}个条目中，显示第1到第10条
						//- 	div.col-xs-6
						//- 		div.dataTables_paginate.pagin_simple_numbers#sapmle-table-2_paginate
						//- 			ul.pagination
						//- 				li.paginate_button.previous.disabled(aria-controls="sample-table-2",tabindex="0")#sample-table-2_previouse
						//- 					a(href="#") 上一页
						//- 				li.paginate_button.next(aria-controls="sample-table-2",tabindex="0")#sample-table-2_next
						//- 					a(href="#") 下一页
	script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.dataTables.min.js")
	script(src="http://127.0.0.1:3000/aceadmin/assets/js/jquery.dataTables.bootstrap.js")
	script(src="http://127.0.0.1:3000/javascripts/staff/staff_list.js")